#Navlogo {
    width: 100px;
    height: 100px;
}

form {
    margin-left: 25%;
    background-color:#eaeaea;
    width: 50%;
    padding: 10px;
 }

input, textarea {
    margin-top: 10px;
}

#Submit, #Reset {
    margin-top: 10px;
}

#bar_associate, #server,
#cleaning_maintenance, #manager,
#parttime, #fulltime,
#male, #female{
    float: left;
}
