#banner{
    width: 90%;
    height: 90%;
}

#Navlogo {
    width: 125px;
    height: 125px;
}

form {
    background-color:#eaeaea;
 }

input, textarea {
    margin-top: 10px;
}

#Submit, #Reset {
    margin-top: 10px;
}

#bar_associate, #server,
#cleaning_maintenance, #manager,
#parttime, #fulltime,
#male, #female{
    float: left;
}
